@* author: Johan Krångh *@
@page "/edit-residence"
@page "/edit-residence/{Id:int}"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject ILocalStorageService localStorage

@if (Id == null)
{
    <h3>Lägg till bostad</h3>
}
else if (Residence.Category == null)
{
    <h3>Laddar...</h3>
}
else
{
    <h3>Ändra @Residence.Category.Name @Residence.Address</h3>
}

<EditForm Model="Residence" OnSubmit="HandleSubmit">
    <div>
        <label for="Category">Kategori</label>
        <InputSelect id="Category" @bind-Value="selectedCategory" class="form-control">
            <option value="">Välj kategori</option>
            @foreach (var c in categories)
            {
                <option value="@c.Id">@c.Name</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => Residence.Category)" />
    </div>
    <div>
        <label for="address">Adress</label>
        <InputText id="address" @bind-Value="Residence.Address" class="form-control" />
        <ValidationMessage For="@(() => Residence.Address)" />
    </div>
    <div>
        <label for="municipality">Kommun</label>
        <InputSelect id="municipality" @bind-Value="selectedMunicipality" class="form-control">
            <option value="">Välj kommun</option>
            @foreach (var m in municipalities)
            {
                <option value="@m.Id">@m.MunicipalityName</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => Residence.Municipality)" />
    </div>
    <div>
        <label for="StartingPrice">Utgångspris</label>
        <InputNumber id="StartingPrice" @bind-Value="Residence.StartingPrice" class="form-control" />
        <ValidationMessage For="@(() => Residence.StartingPrice)" />
    </div>
    <div>
        <label for="LivingArea">Boyta</label>
        <InputNumber id="LivingArea" @bind-Value="Residence.LivingArea" class="form-control" />
        <ValidationMessage For="@(() => Residence.LivingArea)" />
    </div>
    <div>
        <label for="BiArea">Biyta</label>
        <InputNumber id="BiArea" @bind-Value="Residence.BiArea" class="form-control" />
        <ValidationMessage For="@(() => Residence.BiArea)" />
    </div>
    <div>
        <label for="PlotArea">Tomtstorlek</label>
        <InputNumber id="PlotArea" @bind-Value="Residence.PlotArea" class="form-control" />
        <ValidationMessage For="@(() => Residence.PlotArea)" />
    </div>
    <div>
        <label for="ObjectDescription">Beskrivning</label>
        <InputText id="ObjectDescription" @bind-Value="Residence.ObjectDescription" class="form-control" />
        <ValidationMessage For="@(() => Residence.ObjectDescription)" />
    </div>
    <div>
        <label for="NumberOfRooms">Rum</label>
        <InputNumber id="NumberOfRooms" @bind-Value="Residence.NumberOfRooms" class="form-control" />
        <ValidationMessage For="@(() => Residence.NumberOfRooms)" />
    </div>
    <div>
        <label for="MonthlyFee">Månadskostnad</label>
        <InputNumber id="MonthlyFee" @bind-Value="Residence.MonthlyFee" class="form-control" />
        <ValidationMessage For="@(() => Residence.MonthlyFee)" />
    </div>
    <div>
        <label for="OperatingCostPerYear">Driftkostnad</label>
        <InputNumber id="OperatingCostPerYear" @bind-Value="Residence.OperatingCostPerYear" class="form-control" />
        <ValidationMessage For="@(() => Residence.OperatingCostPerYear)" />
    </div>
    <div>
        <label for="ConstructionYear">Byggår</label>
        <InputNumber id="ConstructionYear" @bind-Value="Residence.ConstructionYear" class="form-control" />
        <ValidationMessage For="@(() => Residence.ConstructionYear)" />
    </div>
     @* Lets SuperRealtor set Realtor from own Agency *@
     <AuthorizeView Roles="SuperRealtor">
    <Authorized Context="authContext">
       <div>
        <label for="Realtor">Mäklare</label>
        <InputSelect id="Realtor" @bind-Value="selectedRealtor" class="form-control">
            <option value="">Välj mäklare</option>
            @foreach (var r in realtors)
            {
                <option value="@r.Id">@r.FirstName @r.LastName</option>
            }
        </InputSelect>
    </div> 
    </Authorized>
</AuthorizeView>   
        <ValidationMessage For="@(() => Residence.Realtor)" />
    <button type="submit" class="btn btn-primary">Spara</button>
    <p>@errorString</p>
</EditForm>

@code {
    [Parameter]
    public int? Id { get; set; }
    public ResidenceDto Residence { get; set; } = new ResidenceDto();
    // Used for auto-assigning in form
    public AuthResponseDto CurrentUser = new AuthResponseDto();
    public RealtorDto Realtor = new RealtorDto();
    // Lists for edit-form dropdowns
    public List<CategoryDto> categories = new List<CategoryDto>();
    public List<MunicipalityDto> municipalities = new List<MunicipalityDto>();
    public List<RealtorDto> realtors = new List<RealtorDto>();
    //Fields for bind-Value 
    private int? selectedMunicipality;
    private int? selectedCategory;
    private string? selectedRealtor;
    public string errorString = "";

    protected override async Task OnParametersSetAsync()
    {
        if (Id != null)
        {
            var result = await Http.GetFromJsonAsync<ResidenceDto>($"api/residence/{Id}");
            if (result != null)
            {
                Residence = result;
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            try
            {
                CurrentUser = await localStorage.GetItemAsync<AuthResponseDto>("currentUser");
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Error fetching current user: {ex.Message}");
            }
            Realtor = await Http.GetFromJsonAsync<RealtorDto>($"api/realtor/{CurrentUser.Id}");
            categories = await Http.GetFromJsonAsync<List<CategoryDto>>("api/category");
            municipalities = await Http.GetFromJsonAsync<List<MunicipalityDto>>("api/municipalities");
            realtors = await Http.GetFromJsonAsync<List<RealtorDto>>($"api/realtor/realtors-by-agency/{Realtor.Agency.AgencyId}");
        }
        catch (Exception ex)
        {
            errorString = ex.Message;
        }
    }


    async Task HandleSubmit()
    {
try
      {
        Residence.Category = await Http.GetFromJsonAsync<CategoryDto>($"api/category/{selectedCategory}");
        Residence.Municipality = await Http.GetFromJsonAsync<MunicipalityDto>($"api/municipalities/{selectedMunicipality}");
        
        //Sets Residence.Realtor differently depending on user role
        if (Realtor.Roles.Contains("SuperRealtor"))
        {
            Residence.Realtor = await Http.GetFromJsonAsync<RealtorDto>($"api/realtor/{selectedRealtor}");
        }
        else { Residence.Realtor = Realtor; }

        Residence.Realtor.Password = "s"; //Needed to post form, does not change password on Realtor TODO: Find better work-around

        if (Id != null)
            {
                var result = await Http.PutAsJsonAsync($"api/residence/{Id}", Residence);
                string json = await result.Content.ReadAsStringAsync(); //Delete this!
                Console.WriteLine(json); //Delete this!
                NavigationManager.NavigateTo("residences");
            }
            else
            {
                var result = await Http.PostAsJsonAsync($"api/residence", Residence);
                string json = await result.Content.ReadAsStringAsync(); //Delete this!
                Console.WriteLine(json); //Delete this!
                Residence = await result.Content.ReadFromJsonAsync<ResidenceDto>();
                NavigationManager.NavigateTo("residences");
            }
        }
        catch
        {
            errorString = "Något gick fel!";
        }
    }
}