@*author: Johan Krångh*@
@page "/allresidences"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Alla Bostäder</h3>

@if (residences == null)
{
    <p><em>Laddar...</em></p>
    <p>@errorString</p>
}
else if (errorString != null)
{
    <p>An error occurred: @errorString</p>
}
else    @*TODO: Fix front end*@
{
    <div class="main">
        <ul class="house-cards">
            @foreach (var residence in residences)
            {
                <li style="background-image: url('@residence.Pictures[0]')">    @*@onclick="@(DetailsPage)"*@
                    <div class="house-info">
                        <span class="title">@residence.Category.Name @residence.Municipality.MunicipalityName</span>
                        @residence.ObjectDescription
                        <span class="price">@residence.StartingPrice</span>
                    </div>
                </li>
            }
        </ul>
    </div>
}

@code {
    private List<ResidenceDto>? residences;
    private string? errorString;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            residences = await Http.GetFromJsonAsync<List<ResidenceDto>>("api/residence");
        }
        catch (Exception ex)
        {
            errorString = $"Exception: {ex.Message}";
        }
    }

}

