@*author: Johan Krångh*@
@page "/residences"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Bostäder</h3>

@if (residences == null)
{
    <p><em>Laddar...</em></p>
    <p>@errorString</p>
}
else if (errorString != null)
{
    <p>An error occurred: @errorString</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Kategori</th>
                <th>Adress</th>
                <th>Kommun</th>
                <th>Boyta</th>
                <th>Pris</th>
                <th>Mäklare</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var residence in residences)
            {
                <tr>
                    <td>@residence.category.name</td>
                    <td>@residence.address</td>
                    <td>@residence.municipality.municipalityName</td>
                    <td>@residence.livingArea</td>
                    <td>@residence.startingPrice</td>
                    <td>@residence.realtor.firstName @residence.realtor.lastName</td>
                    <td><button class="btn btn-outline-primary" @onclick="@(() => EditResidence(residence.id))">Ändra</button></td>
                </tr>
            }
        </tbody>
    </table>
}
<button class="btn btn-primary" @onclick="AddResidence">Lägg till bostad</button>

@code {
    private List<Residence>? residences;
    private string? errorString;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            residences = await Http.GetFromJsonAsync<List<Residence>>("api/residence");
        }
        catch (Exception ex)
        {
            errorString = $"Exception: {ex.Message}";
        }
    }

    void AddResidence()
    {
        NavigationManager.NavigateTo("edit-residence");
    }

    void EditResidence(int id)
    {
        NavigationManager.NavigateTo($"edit-residence/{id}");
    }
}
