@page "/gr"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Mäklare</h3>
@if (realtors == null)
{
    <h3>Loading...</h3>
}
else if (errorString != null)
{
    <h3>@errorString</h3>
}
else
{
    <table>
        <thead>
            <th>Bild</th>
            <th>Förnamn</th>
            <th>Efternamn</th>
            <th>Telefonnummer</th>
            <th>Mäklarbyrå</th>
        </thead>
        <tbody>
            @foreach (var realtor in realtors)
            {
                <tr>
                    <td>@realtor.Picture</td>
                    <td>@realtor.FirstName</td>
                    <td>@realtor.LastName</td>
                    <td>@realtor.PhoneNumber</td>
                    <td>@realtor.Agency.AgencyName</td>
                    <td><button class="btn btn-primary" onclick=@(() =>NavigationManager.NavigateTo($"/cer/{realtor.Id}"))>Ändra</button></td>
                </tr>
            }
        </tbody>
    </table>
    <button class="btn btn-primary" onclick=@(() =>NavigationManager.NavigateTo($"/cer"))>Skapa</button>
}

@code {
    List<RealtorDto> realtors = new List<RealtorDto>();
    string errorString;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            realtors = await Http.GetFromJsonAsync<List<RealtorDto>>("api/realtor");
        }
        catch (Exception ex)
        {
            errorString = $"Exception: {ex.Message}";
        }
    }
}
